.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  min-width: 240px;   /* penting */
  flex-shrink: 0;     /* biar ga gepeng */

  background: #020617;
  border-right: 1px solid rgba(255,255,255,0.05);
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* biar isi kanan fleksibel */
}